body{
    font-family: 'Neucha', cursive;
    line-height: 1.5em;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: rgb(248, 12, 122);
    color: white;
}

header{
    text-align: center;
}

header nav ul li{
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.5em;
}

header nav a:hover{
    color: rgb(248, 12, 122);
    text-decoration: underline;
}

img{
    margin: 15px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

p{
    text-align: center;
}

section{
    padding: 30px;
    width: 940px;
    margin: 0 auto;
}

footer{
    text-align: center;
    background-color: #2b313e;
    color: white;   
}

.dark{
    background-color: #2b313e;
    color: white;
    border-radius: 10px;
}

.light{
    background-color: white;
    color: black;
}

/*.container{
    width: 940px;
    margin: 0 auto;
}*/

.titulo-principal{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 10px;
    clear: left;
}

.sobre {
    text-align: center;
}

.sobre p {
    margin-bottom: 10px;
}

.sobre img{
    float: left;
    margin: 0;
    position: relative;
    bottom: 42px;
}

.cartoes{
    position: absolute;
    top: 740px;
    left: 300px;
}

.cartoes img{
    width: 210px;
    height: 100px;
}

.localizacao{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.localizacao-img{
    margin: 15px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    opacity: 1;
    transition: 400ms;
}

.localizacao-img:hover{
    opacity: 0.7;
}

.beneficios{
    text-align: center;
}

.beneficios h2{
    margin-bottom: 15px;
}

.beneficios ul{
    vertical-align: top;
    display: inline-block;
    margin-left: 15px;
    margin-top: 20px;
}

.beneficios li {
    font-style: italic;
    line-height: 2em;
}

.beneficios li::before{
  content: '★ ';
}

.beneficios img{
    width: 20%;
}

.contato{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#fefefe,#2b313e);
   
}

.contato p{
    margin-bottom: 10px;
}

.contato li{
    display: inline-block;  
}

.contato li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;   
    margin: 1em;
}

.contato .whatsapp{
    background-image: url('../img/whats.png');  
}

.contato .email{
    background-image: url('../img/email.png');  
}

.contato .instagram{
    background-image: url('../img/insta.png');  
}

.contato .facebook{
    background-image: url('../img/facebook.png');  
}

.contato .youtube{
    background-image: url('../img/youtube.jpg');  
    border-radius: 5px;
}

@media screen and (max-width: 480px){

    section, footer, .sobre, .contato{
            width: auto;
    }

    .localizacao, .localizacao-img{
        width: 300px;
        margin: auto;
    }    

    nav a {
        font-size: 2.5em;
    }

    .sobre img {
        margin-top: 15%;
        bottom: 42px;
        width: 200px;
        height: 250px;
        border-radius: 46px;
        float: none;
        }
    
    .sobre p{
        font-size: 1.5em;
        line-height: 1.2;
        margin-bottom: 40px;
    }

    .titulo-principal{
        line-height: 1.2;
    }

    h1{
        font-size: 3em;
        padding: 10%
    }

    .localizacao p, .contato p{
        font-size: 1.3em;
    }

    .beneficios img{
        width: auto;
    }

    .beneficios li{
        font-size: 1.3em;
    }

    .beneficios ul{
        margin-bottom: 10%;
    }

    .titulo-estabelecimento{
        margin-top: 165px;
    }

    .cartoes{
        position: absolute;
        top: 204%;
        left: 8.8%;
    }
    
    .cartoes img{
        width: 370px;
        height: 175px;
    }

}

@media screen and (max-width: 375px){

    .cartoes{
        position: absolute;
        top:  223%;
        left: -3.2%;
    }

}

