body{
    box-sizing: border-box;
}

header, main{
    border-bottom: 1px solid black;
}

main ul li {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 1.4%;
    vertical-align: top;
}

main{
    margin-top: 30px;
}

main h3{
    padding: 10px;
    font-size: 30px;
    border-bottom: 1px solid rgb(252, 10, 131);
    border-width: 10px;
    font-weight: bold;
}

.produtos li:hover{
    border-color: rgb(252, 10, 131);
    border-width: 1px;
}

.produtos li:active{
    border-color:black;
}

.produtos li:hover h3{
    font-size: 35px;
}

.sombrancelha{
    margin-left: 327px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sombrancelha h3{
    line-height: 1em;
}

.produto-descricao{
    font-size: 18px;
    padding: 10px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}